.mainContent {
    background: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

.mySection {
    background: rgba(218, 172, 73, 0.31);
}

.myLeft {

}

.myRight {

}

.roundedPanel {
    border-radius: 5px;
    padding: 20px;
}

.ingredientsPanel {

}

.buttonsPanel {
}

.mySelect {
    width: 80%;
    margin-bottom: 10px;
}

.myButton {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.makeButton {
    background: rgb(218, 200, 0);
}

.resetButton {
    background: rgb(232, 135, 8);
}

.myPause {

}

.myIngredient {
    margin-top: 10px;
    margin-right: 0px;
    width: 70%;
}

.aboutSection {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 35px;
    text-align: center;
}

.popularSection {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.centeredText {
    text-align: center;
}

.minusButton {
    margin-left: 20px;
}