.mainContent {
    background: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mySection {
    background: rgba(0, 201, 218, 0.61);
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.roundedPanel {
    border-radius: 5px;
    padding: 20px;
}

.hMargin {
    margin-bottom: 20px;
}

.mySelect {
    width: 80%;
    margin-bottom: 10px;
}

.myButton {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.buttonShadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.makeButton {
    background-color: #ffb500;
    font-weight: bold;
}

.text-myOrange {
    color: #ffb500;
}

.resetButton {
    background: rgb(232, 0, 110);
    font-weight: bold;
}

.plusButton, .minusButton {
    background-color: #ffb500;
    border: none;
  color: black;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.myIngredient {
    margin-top: 10px;
    margin-right: 0px;
    width: 70%;
}

.aboutSection {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 35px;
    text-align: center;
}

.popularSection {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.centeredText {
    text-align: center;
}

.minusButton {
    margin-left: 20px;
}

.aboutParagraph {
    margin: 8px;
}

.textIngredient {
    color: #ffffff;
}

.shadowText {
    text-shadow: 2px 2px #000000;
}

.drinkName {
    font-style: italic;
    font-weight: bold;
    color: #ffb500;
}

.drinkIngredientsText {
    font-style: italic;
    font-weight: bold;
}

.user_image {
    margin-left: 50px;
    max-width: 80%;
}