{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <!-- JS -->
        <script src="{% static 'scripts/app.js' %}"></script>

        {% if title %}
            <title>{{  app_name  }} - {{ title }} </title>
        {% else %}
            <title>{{ context }}</title>
        {% endif %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'styles/creative.min.css' %}">

        <!-- Custom style -->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    </head>

    <body>

          <!-- Navigation -->
          <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="{% url 'app-home' %}">{{ app_name }}</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">    
                    {# Some logic on what to display for last item#}
                    {% if user.is_authenticated %}
                    <li><a> Logged as {{user.first_name}}</a></li>
                      <li>
                          <a href="{% url 'app-logout' %}">Logout</a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="{% url 'app-login' %}">Login</a></li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="{% url 'app-register' %}">Sign up</a>
                      </li>
                    {% endif %}                 
                </ul>
              </div>
            </div>
          </nav>

          <!-- Main body -->
          <section class="page-section mainContent" id="about">
            <div class="container">
              <div class="modal-body row">
                    {% block main-content %}
                      {% endblock %}
              </div>
            </div>
          </section>

    </body>

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</html>