{% extends "app/base.html" %}

{% block main-content %}
<!-- Left content -->

    <div class="col-md-6 myLeft">

        <div class="row roundedPanel mySection">

            <h3 class="text-white hMargin shadowText">Here's your drink!</h3>

            <div class="col-md-9 ingredientsPanel">

                <form id="rateForm" method="POST" action="{% url 'app-addDrinkRate' %}">
                {% csrf_token %}
                <h4 class="textIngredient drinkName">
                    <input class="inputDrink" type="hidden" name="drink_name" value="{{ prepared_drinks.drink1_name }}">
                    {{ prepared_drinks.drink1_name }}
                </h4>
                <p class="drinkIngredientsText">

                     {{ prepared_drinks.drink1 }}
                </p>
                <p class="text-white">
                <h5 class="text-white">Rate:</h5>
                    <span class="badge badge-danger">
                        {{ rate }}
                    </span></p>

                <h5 class="text-white">Your ingredients: </h5>
                <p>

                    {% for i in ingredient_list %}
                    <span class="badge badge-warning">
                        {{ i }},
                        </span>
                    {% endfor %}

                </p>

                <h5 class="text-white">Matched: </h5>
                <p>
                <span class="badge badge-warning">
                    {{ prepared_drinks.ingredient1 }}
                    </span>
                    <span class="badge badge-warning">
                     {{ prepared_drinks.ingredient2 }}
                        </span>
                </p>




            </div>

            <div class="col-md-3 buttonsPanel">

                    <a href="{% url 'app-home' %}"><button type="button" class="btn myButton makeButton buttonShadow">NEXT DRINK</button></a>
                {% if user.is_authenticated %}
                <button type="submit" class="btn myButton resetButton buttonShadow" onclick="drinkRated()">RATE</button>
                <select class="browser-default custom-select mySelect" id="drink_rate" name="drink_rate">
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                </select>
                {% endif %}
                </form>
            </div>
        </div>
    </div>

<!-- Break content -->
    <div class="col-md-2 myPause"></div>


<!-- Right content -->
<div class="col-md-4 myRight">

    <div class="aboutSection mySection roundedPanel">
    <h3 class="text-white hMargin shadowText">Check also:</h3>
        <h4 class="textIngredient drinkName">
            {{ prepared_drinks.drink2_name }} </h4>
                <p class="drinkIngredientsText">
            {{ prepared_drinks.drink2 }}
                </p>
    </div>


</div>
{% endblock main-content %}

