{% extends "app/base.html" %}

{% block main-content %}
<!-- Left content -->

    <div class="col-md-6 myLeft">
        <h5 class="text-white">Here's your drink!</h5>

        <div class="row roundedPanel mySection">
<h2>Drink name generated</h2>

            <div class="col-md-9 ingredientsPanel">

                <p>RATE: 3.72/5</p>
                <form id="ingredientForm" method="POST" action="{% url 'app-makeDrink' %}">
                    {% csrf_token %}
                    <!-- Ingredients list will be generated here -->
                    <!-- tu od inputa zaczac -->

                    <div id="IngredientList"></div>



            </div>

            <div class="col-md-3 buttonsPanel">

                    <a href="{% url 'app-home' %}"><button type="button" class="btn myButton makeButton">NEXT DRINK</button></a>
                </form>
                <button type="submit" class="btn myButton resetButton" onclick="resetIngredientList()">RATE THIS DRINK</button>
            </div>
        </div>
    </div>

<!-- Break content -->
    <div class="col-md-2 myPause"></div>


<!-- Right content -->
<div class="col-md-4 myRight">

    <div class="aboutSection mySection roundedPanel">
    <h2 class="text-white">Check also:</h2>
        <h3>Drink #1</h3>
        <h6>[Cola, vodka]</h6>

        <h3>Drink #2</h3>
        <h6>[Mango, juice]</h6>

        <h3>Drink #3</h3>
        <h6>[Rum, chocolate]</h6>
    </div>


</div>
{% endblock main-content %}

