{% extends "app/base.html" %}

{% block main-content %}
<!-- Left content -->

    <div class="col-md-6 myLeft">
        <h5 class="text-white">Select your ingredients and compose your drink!</h5>

        <div class="row roundedPanel mySection">

            <div class="col-md-9 ingredientsPanel">
                <select class="browser-default custom-select mySelect">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button type="button" class="btn btn-warning">+</button>
                <p>Ingredient...
                <button type="button" class="btn">-</button>
                </p>
                <p>Ingredient...
                <button type="button" class="btn">-</button>
                </p>
            </div>

            <div class="col-md-3 buttonsPanel">
                <button type="button" class="btn myButton makeButton">MAKE</button>
                <button type="button" class="btn myButton resetButton">RESET</button>
            </div>
        </div>
    </div>

<!-- Break content -->
    <div class="col-md-2 myPause"></div>


<!-- Right content -->
<div class="col-md-4 myRight">

    <div class="aboutSection mySection">
    <h6 class="text-white">Its an application for helping you make the best possible drink from
    the ingredients you have!</h6>
    <button type="button" class="btn btn-warning">Learn more</button>
        </div>

    <div class="popularSection mySection">
    <h3 class="text-white">Most Popular Drinks</h3>
        </div>

</div>
{% endblock main-content %}

