{% extends "app/base.html" %}

{% block main-content %}
<!-- Left content -->

    <div class="col-md-6 myLeft">
        <div class="row roundedPanel mySection">
            {% if user.is_authenticated %}
                <ul>
                    <p class="drinkName">First name: </p> {{  user.first_name }}
                    <p class="drinkName">Last name: </p> {{  user.last_name }}
                    <p class="drinkName">Email: </p> {{  user.email }}
                    <p class="drinkName">Login:  </p>{{  user.username }}
                </ul> 
               
                
                {% if user.userprofileinfo.profile_pic %}
                    {% load static %}
                    <img class="user_image" src="{{user.userprofileinfo.profile_pic.url}}" alt=""  >
                {% endif %}  
            {% endif %}  
        </div>
    </div>

<!-- Break content -->
    <div class="col-md-2 myPause"></div>


<!-- Right content -->
<div class="col-md-4 myRight mySection roundedPanel">
        {% load django_tables2 %}
        {% render_table table %}

</div>
{% endblock main-content %}