{% extends "app/base.html" %}

{% block main-content %}
<!-- Left content -->

    <div class="col-md-6 myLeft">
        <div class="row roundedPanel mySection">
            {% if user.is_authenticated %}
                <ul>
                    <li>First name: {{  user.first_name }}</li>
                    <li>Last name: {{  user.last_name }}</li>
                    <li>Email: {{  user.email }}</li>
                    <li>Login: {{  user.username }}</li>
                </ul> 
               
                
                {% if user.userprofileinfo.profile_pic %}
                    {% load static %}
                    <img src="{{user.userprofileinfo.profile_pic.url}}" alt=""  >
                {% else %}
                    <img src="{% static 'profile_pics/pic1.png' %}" alt=""  >
                {% endif %}  
            {% endif %}  
        </div>
    </div>

<!-- Break content -->
    <div class="col-md-2 myPause"></div>


<!-- Right content -->
<div class="col-md-4 myRight">

</div>
{% endblock main-content %}