{% extends "app/base.html" %}

{% block main-content %}
<div class="container mySection roundedPanel">
        <div class="">
          {% if edited %}
            <h3 class="text-white">Edition succesful!</h3>
          {% else %}
            <h3 class="text-white">Edition:</h3>
    
    <form enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
              <input type="submit" class="btn btn-warning" name="" value="Edit">
            </form>
            
          {% endif %}
        </div>
      </div>
{% endblock main-content %}