{% extends "app/base.html" %}

{% block main-content %}
<div class="container mySection roundedPanel">
        <div class="textShadow">
          {% if registered %}
            <h2 class="text-white">Thank you for registering!</h2>
          {% else %}
            <h2 class="text-white shadowText">Register</h2>
            <br />
    
    <form enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
              <input type="submit" class="btn btn-warning buttonShadow" name="" value="Register">
            </form>
            
          {% endif %}
        </div>
      </div>
{% endblock main-content %}